@keyframes CodigoFalado {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: 200px;
  }
  100% {
    margin-left: 20px;
  }
}

body {
  background-color: #fff;
  .codigofalado {
    h2 {
      display: inline-block;
      color: darkgrey;
      animation: CodigoFalado 5s; // Serve para testar se o autoprefixer está funcionando
    }
    p {
      margin: 30px;
      span {
        font-weight: 700;
        color: grey;
        &:last-of-type {
          color: darkgrey;
        }
      }
    }
  }
}
